*,
*:before,
*:after {
  box-sizing: border-box;}
  
body {
  font-family: "Roboto", sans-serif;
  
  color: #363636;
}
.no-scroll {
  overflow: hidden;
}
.logo{
  width: 150px;
  height: 150px;
}
.header{
  
  display: flex;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid orange;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background: rgba(240, 240, 240);
}

.company-name{
  border-left: 1px solid black;
  padding: 10px 10px 10px 10px;
}

.m-menu{
  background: rgb(26, 26, 26);
   position: absolute;
  right: 0;
  height: 100%;
  width: 33.4%;
  align-items: center;
  justify-content: center;
  display: flex;
  
  
}

.navigation-link{
  position: relative;
  padding-right: 13px;
  padding-left: 13px;
    align-items: center;
  cursor: pointer;
  
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    
    color: rgba(240, 240, 240);
}
.navigation-link::after{
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: orange;
  transition: width 0.5s;
}
.navigation-link:hover:after{
  width: 100%;
}

/* Шапка закончилась */

.main{
  margin-top: 100px;
  width: 100%;
  height: 950px;
  background: url("../img/chb.jpg") center no-repeat;
    background-size: cover;
    
    }

       .main:after {
        width: 100%;
          content: '';
          position: absolute;
          top: 100px;
          left: 0;
          right: 0;
          bottom: 0;
          background: black;
          opacity: 0.6;
          z-index: 1;
          height:950px;
        } 

.container{
  
  display: flex;
  
  height: 950px;
  
}
.words{
width: 60%;
margin-top: 200px;
height: 260px;
z-index: 2;
border-bottom: 4px solid orange;;
}
  .slog{
    
    text-shadow: white 1px 0 5px;
    text-align:justify;
    color:#fff;
    padding-left: 30px;
        }
   .text_main {
     font-size: 90px;
     color:white;
 }

 .text_main_bottom {
   font-size: 30px;
   padding-top: 120px;
   color:rgba(240, 240, 240);;

 }
    
.card-list{
  justify-content: space-between;
  margin-left: 10%;
  margin-top: 190px;
  width: 500px;
  height: 300px;
 display: flex;
  
  }
  
.card{
  position: relative;
  margin-top: 100px;
  padding-top: 15px;
  cursor: pointer;
  width: 130px;
  height: 130px;
  border-radius: 20px;
  border: 2px solid rgba(240, 240, 240);;
  z-index: 2;
  transition: all 0.7s ease;
 
  
  
}
.card:hover{
background: rgba(240, 240, 240, 0.4);


-webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
-moz-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);

transform: scale(1.2);
}
.card-image {
    display: block;
    margin: 0 auto;
    
}
.tooltip{
  height: 35px;
  width: 130px;
  position: absolute;
  visibility: hidden;
  border-radius: 10px;
  margin-top: 20px;
  color: black;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 166, 0);
  opacity: 0;
  
  
}

.card:hover .tooltip {
  visibility: visible;
  opacity: 1;
    transition: 1s;
  
}
/* Первый слайд */
.container_2{
  display: flex;
  }

.information{
  width: 100%;
    background-color: grey;
    }

  .statistic_1{
    height: 450px;
    width: 33.4%;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(26, 26, 26);
    
      }

.statistic_2 {
  height: 450px;
  width: 33.4%;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 36, 36);
  }

 .st_span_1{
  color: orange;
  font-weight: 900;
  font-size: 100px;
  margin-top: -90px;
 } 
.st_span_2{
  position: absolute;
  margin-top: 90px;
  color: rgb(255, 255, 255);
  font-weight: 900;
    font-size: 30px;

}
/* блок статистики окончен */



/*о нас*/
.about_us {
  width: 100%;
  height: 1330px;
  background-color:rgba(240, 240, 240);

}
.container_about{
  height: 950px;
  width: 100%;
  
}

.about_us_header{
  display: flex;
  padding-left: 30px;
  width: 100%;
  height: 450px;
  background-color: rgba(240, 240, 240);
}

.auh_word{
  font-size: 100px;
}
.auh_word_bottom{
  position: absolute;
  font-size: 40px;
  padding-top: 250px;
}
/*КОНЕЦ о нас*/


/*КАРТОЧКИ*/
.about_cards{
  width: 100%;
   
/* Первая карточка */
}
.about_cards_first{
  width: 100%;
  height: 430px;
  background-color:rgba(240, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  
    
}

.acf_1{
  width: 40%;
  height: 380px;
  background-color: #fff;
  margin-right: 30px;
  margin-left: 30px;
  transition: all 0.7s ease;
  color: rgb(80, 80, 80);
  }

/* Вторая карточка */
 .about_cards_second {
   width: 100%;
   height: 430px;
   background-color: rgba(240, 240, 240);
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .acf_2 {
   width: 30%;
   height: 380px;
   background-color: #fff;
   margin-left: 30px;
   margin-right: 30px;
  transition: all 0.7s ease;
  color: rgb(80, 80, 80);
  
   
  }

 
 /* Внутренности карточки */
 .image_preview{
  width: 100%;
  height: 300px;
  object-fit: cover;
 
 }
 .text_preview{
  width: 100%;
  height: 80px;
  padding-left: 30px;
}
.acf_1:hover{
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
    color: black;
    border-bottom: 4px solid orange;
     
       }
.acf_2:hover {
  transform: scale(1.05);
  transition: 0.5s;
  cursor: pointer;
  color: black;
  border-bottom: 4px solid orange;
  
}

/* КОНЕЦ КАРТОЧЕК */

.company_information{
  width: 100%;
}

.container_ci{
  width: 100%;
  height: 950px;
  background-color:rgb(26, 26, 26);
}
.information_block{  
    width: 90%;
    height: 90%;
    background-color: rgba(240, 240, 240);
    display: flex;
}

.information_left{
  padding-top: 75px;
  padding-left: 2%;
  width: 60%;
  justify-content: center;
  align-items: center;
  }
  .inf_text_1{
    font-size: 80px;
  }
    .inf_text_2 {
      font-size: 30px;
    }
        .inf_text_3 {
          font-size: 30px;
        }

.info_man{
  width: 100%;
    height: 100%;
    object-fit: cover;
}        

/* INFORMATION ENDING */

.contacts {
  width: 100%;
}

.container_cont {
  
  width: 100%;
  height: 950px;
  background-color: rgb(26, 26, 26);
}

.contacts_block {
  
  position: absolute;
  right: 0;
  width: 90%;
  height: 90%;
  background-color: rgba(240, 240, 240);
  
}

.contacts_top {
  width: 100;
  margin: 120px;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid orange;
  
}
.contacts_bottom{
  display: flex;
  width: 100;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  
}
.contacts_bottom_left{
margin-right: 50px;
}

.contacts_bottom_right {
margin-left: 50px;
}
.home_navigator{
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius: 10px;
}

@media (max-width: 1550px){
  .m-menu {
      width: 40%;
      font-size: 14px;
    }

}

@media (max-width: 1200px){
  .naming{
    font-size: 26px;
  }
  .logo {
      width: 130px;
      height: 130px;
    }
  
  .main{
    margin-top: 80px;
    height: 500px;
  }
    .main:after {
      top: 80px;
     height: 500px;
    }
  .header{
    height: 80px;
  }
    .company-name {
      padding: 5px 5px 5px 5px;
      height: 100%;
      display: flex;
      font-size: 14px;
    }
    .m-menu {
      width: 40%;
      font-size: 10px;
    }

        .navigation-link {
          position: relative;
          padding-right: 4px;
          padding-left: 4px;
          color: rgba(240, 240, 240);
        }
.words {
  width: 60%;
  margin-top: 100px;
  height: 260px;
  border-bottom: 3px solid orange;
}

.slog {
  padding-left: 20px;
}

.text_main {
  font-size: 60px;
  }

.text_main_bottom {
  font-size: 20px;
  }


    .card-list {
      margin-left: 5px;
      margin-top: 100px;
      width: 40%;
      justify-content: space-between;
        
    }
  
    .card {
      position: relative;
      margin-top: 50px;
      padding-top: 15px;
      
      width: 90px;
      height: 90px;
    }

        .card-image {
          display: block;
          margin: 0 auto;
          width: 60px;
          height: 60px;
          object-fit: cover;
        }

                .tooltip {
                  height: 18px;
                  width: 90px;
                  margin-top: 15px;
                  font-size: 12px;
                }

.statistic_1{
    height: 300px;
    }

.statistic_2 {
  height: 300px;
 }

 .st_span_1{
  
  font-weight: 900;
  font-size: 70px;
  margin-top: -70px;
 } 
.st_span_2{
  position: absolute;
  margin-top: 70px;
  font-size: 20px;
}




.about_us {
  height: 900px;
  }

.container_about {
  height: 950px;
  width: 100%;

}

.about_us_header {
  display: flex;
  padding-left: 30px;
  width: 100%;
  height: 320px;
  background-color: rgba(240, 240, 240);
}

.auh_word {
  font-size: 60px;
}

.auh_word_bottom {
  position: absolute;
  font-size: 25px;
  padding-top: 200px;
}

/* карточки ниже*/
.about_cards_first {
  width: 100%;
  height: 300px;
  background-color: rgba(240, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;


}

.acf_1 {
  width: 40%;
  height: 250px;
  margin-right: 20px;
  margin-left: 20px;
  
}

/* Вторая карточка */
.about_cards_second {
  
  height: 250px;
  
}

.acf_2 {
  width: 30%;
  height: 250px;
  margin-left: 20px;
  margin-right: 20px;
  }

/* Внутренности карточки */

.image_preview {  
  height: 200px;
}

.text_preview {
  width: 100%;
  height: 60px;
  padding-left: 20px;
  font-size: 12px;
}

/*  инфо */

.company_information {
  width: 100%;
}

.container_ci {
  width: 100%;
  height: 750px;
  background-color: rgb(26, 26, 26);
}


.information_block {
  width: 90%;
  height: 90%;
  background-color: rgba(240, 240, 240);
  display: flex;
}

.information_left {
 width: 50%;
  padding-top: 1px;
  padding-left: 2%;
 
}

.inf_text_1 {
  font-size: 50px;
}

.inf_text_2 {
  font-size: 20px;
}

.inf_text_3 {
  font-size: 18px;
}

.info_man {
  position: absolute;
  width: 40%;
  right: 10%;
  height: 80%;
  }
  /*contacts*/

    .container_cont {
      height: 550px;
      
    }
  
    .contacts_block {
      width: 90%;
      height: 500px;
      background-color: rgba(240, 240, 240);
  
    }
  
    .contacts_top {
      margin: 40px;
      padding-bottom: 20px;
      font-size: 14px;
     }
  
    .contacts_bottom {
      font-size: 14px;
      padding-bottom: 20px;
    }
  
    .contacts_bottom_left {
      margin-right: 20px;
    }
  
    .contacts_bottom_right {
      margin-left: 20px;
    }
  
    .home_navigator {
     margin-top: 10px;
     width: 50px;
      height: 50px;
      

    }
    .home_button{
      width: 30px;
      height: 30px;
      object-fit: cover;
    }
}

@media (max-width: 768px){
  
.company-name{
  visibility: hidden;
}
.m-menu{
  width: 75%;
}
.container {
  display: block;

}
.main {
  height: 500px;
}
.main:after{
 visibility: hidden;
  }

.header{
  width: 100%;
}


.navigation-link {
  position: relative;
  padding-right: 4px;
  padding-left: 4px;
  
}

.words {
  width: 100%;
margin-top: 80px; 
padding-top: 20px;
 height: 250px;
  border-bottom: 2px solid orange;
}

.slog {
  padding-left: 15px;
}

.text_main {
  font-size: 40px;
}

.text_main_bottom {
  font-size: 30px;
}


.card-list {
  
  margin-top: 20px;
  margin-left: 5%;
  width: 90%;
  justify-content: space-between;

}

.card {
  position: relative;
  margin-top: 50px;
  padding-top: 15px;
  width: 90px;
  height: 90px;
}

.card-image {
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.tooltip {
  height: 18px;
  width: 90px;
  margin-top: 15px;
  font-size: 12px;
}

.statistic_1 {
  height: 220px;
}

.statistic_2 {
  height: 220px;
}

.st_span_1 {

  font-weight: 900;
  font-size: 60px;
  margin-top: -70px;
}

.st_span_2 {
  position: absolute;
  margin-top: 70px;
  font-size: 12px;
}




.about_us {
  height: 800px;
}

.container_about {
  height: 800px;
  

}

.about_us_header {
  display: flex;
  padding-left: 30px;
  width: 100%;
  height: 320px;
  background-color: rgba(240, 240, 240);
}

.auh_word {
  font-size: 48px;
}

.auh_word_bottom {
  position: absolute;
  font-size: 18px;
  padding-top: 200px;
}

/* карточки ниже*/
.about_cards_first {
  width: 100%;
  height: 250px;


}

.acf_1 {
  width: 40%;
  height: 200px;
  margin-right: 15px;
  margin-left: 15px;

}

/* Вторая карточка */
.about_cards_second {

  height: 200px;

}

.acf_2 {
  width: 30%;
  height: 200px;
  margin-left: 15px;
  margin-right: 15px;
}

/* Внутренности карточки */

.image_preview {
  height: 150px;
}

.text_preview {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  font-size: 9px;
}

/*  инфо */



.container_ci {
 
  height: 500px;
  
}


.information_block {
  width: 90%;
  height: 90%;
 
}

.information_left {
  width: 50%;
  padding-top: 1px;
  padding-left: 2%;

}

.inf_text_1 {
  font-size: 40px;
}

.inf_text_2 {
  font-size: 16px;
}

.inf_text_3 {
  font-size: 14px;
}

.info_man {
  position: absolute;
  width: 40%;
  right: 10%;
  height: 52%;
}

/*contacts*/

.container_cont {
  height: 500px;

}

.contacts_block {
  width: 90%;
  height: 470px;
  

}

.contacts_top {
  margin: 40px;
  padding-bottom: 20px;
  font-size: 12px;
}

.contacts_bottom {
  font-size: 12px;
  padding-bottom: 20px;
}

.contacts_bottom_left {
  margin-right: 20px;
}

.contacts_bottom_right {
  margin-left: 20px;
}

.home_navigator {
  margin-top: 10px;
  width: 50px;
  height: 50px;


}

.home_button {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

}

@media (max-width: 576px) {
  
  .header-logo {
      margin-left: -10px;
  
    }
  
  .main {
      height: 420px;
    }
    .words {
      
      padding-top: 10px;
      height: 220px;
      
    }
  
    .slog {
      padding-left: 15px;
    }
  
    .text_main {
      font-size: 35px;
    }
  
    .text_main_bottom {
      font-size: 22px;
    }
  
  
    .statistic_1 {
      height: 180px;
    }
  
    .statistic_2 {
      height: 180px;
    }
  
    .st_span_1 {
  
      font-weight: 900;
      font-size: 50px;
      margin-top: -50px;
    }
  
    .st_span_2 {
      position: absolute;
      margin-top: 50px;
      font-size: 12px;
    }
  
  
  
  
    .about_us {
      height: 800px;
    }
  
    .container_about {
      height: 800px;
  
  
    }
  
    .about_us_header {
      display: flex;
      padding-left: 20px;
      width: 100%;
      height: 300px;
      background-color: rgba(240, 240, 240);
    }
  
    .auh_word {
      font-size: 42px;
    }
  
    .auh_word_bottom {
      position: absolute;
      font-size: 16px;
      padding-top: 200px;
    }
  
    
    .text_preview {
      width: 100%;
      height: 50px;
      padding-left: 5px;
      font-size: 7px;
    }
  
    /*  инфо */
  
  
  
    .container_ci {
  
      height: 420px;
  
    }
  
      
    .inf_text_1 {
      font-size: 30px;
    }
  
    .inf_text_2 {
      font-size: 14px;
    }
  
    .inf_text_3 {
      font-size: 12px;
    }
  
    .info_man {
      position: absolute;
      width: 40%;
      right: 10%;
      height: 44%;
    }
  
    /*contacts*/
  
    .container_cont {
      height: 450px;
  
    }
  
    .contacts_block {
      width: 90%;
      height: 400px;
  
  
    }
  
    .contacts_top {
      margin: 20px;
      padding-bottom: 15px;
      font-size: 12px;
    }
  
    .contacts_bottom {
      font-size: 12px;
      padding-bottom: 10px;
    }
  
    .contacts_bottom_left {
      margin-right: 15px;
    }
  
    .contacts_bottom_right {
      margin-left: 15px;
    }
  
    .home_navigator {
      margin-top: 5px;
      width: 40px;
      height: 40px;
  
  
    }
  
    .home_button {
      width: 25px;
      height: 25px;
      object-fit: cover;
    }
}
